<h1> <%= @house.name %></h1>
<% @house.characters.each do |character| %>
<div class="character">
  <h2><%= character.name %></h2>
  <h3><%= character.quote %></h3>
</div>
<% end %>

<h2> <%= link_to "Edit House", edit_house_path(@house) %> </h2>
